*{
margin:0;
padding:0;
font-family: 'Josefin Sans', sans-serif;
}
.container{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0 ,0 ,0, 0.7)),url(back-pic.jpg);
    background-size:cover;
}
.nav-bar{
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
}
.right-menu{
    width:20%;
}
.right-menu img{
    width:100px;
    margin-left:20px;
}
.left-menu{
    width:80%;

}
.left-menu ul{
    list-style:none;
    text-align:right;
}
.left-menu ul li{
    display:inline-block;
    margin-right:40px;
    color:rgba(8, 8, 8, 0.795);
    font-size:20px;
    font-weight:bold;
    margin-right:80px;
    cursor:pointer;

}
.banner{
    position:absolute;
    width:100%;
    height:150px;
    text-align:center;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.banner h3{
    font-size:16px;
    font-weight:300;
    color:white;
    letter-spacing:10px;
    word-spacing:15px;
    font-style:italic;
}
.banner h1{
    font-size:50px;
    font-weight:bold;
    color:white;
    margin:20px;
}

.banner h4{
    font-size:16px;
    font-weight:300;
    color:white;
    letter-spacing:10px;
    word-spacing:15px;
    font-style:italic;
}




button{
    margin-top:50px;
    padding: 14px 20px;
    font-size:18px;
    font-weight:bold;
    margin-right:30px;
}
.btn-1{
    background:rgba(13, 68, 5, 0.7);
    color:white;
    border:1px solid black;
    border-radius:20px;
    transition:background 500ms ease;
}
.btn-2{
    background:rgba(13, 68, 5, 0.7);
    color:white;
    border:1px solid black;
    border-radius:20px;
    transition:background 500ms ease;
}
.btn-1:hover{
background:rgb(13, 68, 5);
}
.btn-2:hover{
    background:rgb(13, 68, 5);
}

